<article class="example">
  <h1></h1>

  <!-- Путь к изображениям из HTML-фрагмента такой, как из файла index.html -->
  <!-- <img src="images/demo.jpg" alt="" width="320" />
  <p>
    Плагин
    <a
      href="https://github.com/posthtml/posthtml-include"
      target="_blank"
      rel="noopener noreferrer"
    >
      posthtml-include
    </a>
    позволяет добавлять в HTML-файлы страниц код из других HTML-файлов (фрагментов). Фрагменты
    хранятся в папке
    <code>src/partials</code>. Добавление происходит при компиляции файлов страниц, например
    <code>index.html</code>.
  </p>

  <p>
    Этот файл <code>example.html</code> &mdash; пример такого фрагмента, с разметкой определённой
    части главной страницы. Это очень удобно при командной разработке на студенческих проектах,
    когда в одном HTML-файле пишет несколько человек сразу.
  </p>

  <p>
    Синтаксис добавление фрагмента в главный файл:
    <code> &lt;include src="./partials/имя-файла.html"&gt;&lt;/include&gt; </code>
  </p> -->

  <!-- <div class="background"></div> -->

  <form class="form-inline search-form js-search-form">
    <div class="form-group">
      <input type="text" 
      class="form-control" 
      id="country-input"
      name="query"
      placeholder="What do you search?" />
      <!-- <img src="https://flagcdn.com/w320/se.png" alt="s"> -->
      <div class="js-card-container"></div>
    </div>
  </form>
  <!-- <script src="./test2.js"></script> -->
</article>
